---
layout: default
---

<div class="home" id="home">
  <ul class="posts noList">
    {% assign counter = 0 %}

    {% for post in site.categories.meditazione-attiva %}

      {% assign category = post.categories | join: '-' %}

        {% assign m = post.date | date: "%-m" %}
        <li>
          <span class="date">
            {% case m %}
              {% when '1' %}Gennaio
              {% when '2' %}Febbratio
              {% when '3' %}Marzo
              {% when '4' %}Aprile
              {% when '5' %}Maggio
              {% when '6' %}Giugno
              {% when '7' %}Luglio
              {% when '8' %}Agosto
              {% when '9' %}Settembre
              {% when '10' %}Ottobre
              {% when '11' %}Novembre
              {% when '12' %}Dicembre
            {% endcase %}
            {{ post.date | date: '%d, %Y' }}
          </span>
          <span class="category">{{ post.category | replace:'-':' ' }}</span>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
        </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Avanti</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Indietro</a>
    {% endif %}
  </div>
</div>
