<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una formazione interiore dove: arte, scienza, filosofia, etica e religione possano integrarsi ed essere di tutti… e alla portata di tutti. Il lavoro dell’accademia è indirizzato principalmente al risveglio della coscienza e della consapevolezza di sé, integrando una sperimentazione pratica che porta all’attivazione delle potenzialità umane. La nostra scuola offre una conoscenza completa e una “tecnologia interiore” per l’uomo e la donna d’oggi, in linea con i tempi, e con i problemi che ci troviamo ad affrontare e a dover risolvere quotidianamente.">
    
    <title> Il Risveglio a Se Stessi - Roberto Potocniak</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}" />

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    
    <link rel="alternate" href="ilrisveglioasestessi.it" hreflang="it-it" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Modernizr -->
    <script src="{{ "/assets/js/modernizr.custom.15390.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
    
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella cookie policy. Se vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie. Chiudendo questo banner o proseguendo la navigazione in altra maniera acconsenti all’uso dei cookie.","dismiss":"Ok!","learnMore":"Cookie Policy","link":"http://ilrisveglioasestessi.it/cookiepolicy.html","theme":"dark-bottom"};
    </script>
    
    <script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>
