---
layout: default
---
<div class="post">
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">
    {% assign m = page.date | date: "%-m" %}
    {% case m %}
      {% when '1' %}Gennaio
      {% when '2' %}Febbratio
      {% when '3' %}Marzo
      {% when '4' %}Aprile
      {% when '5' %}Maggio
      {% when '6' %}Giugno
      {% when '7' %}Luglio
      {% when '8' %}Agosto
      {% when '9' %}Settembre
      {% when '10' %}Ottobre
      {% when '11' %}Novembre
      {% when '12' %}Dicembre
    {% endcase %}
    {{ page.date | date: '%d, %Y' }}
  </p>

  {{ content }}

  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% if page.previous.url %}
      <a class="prev" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title }}</span></a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title }}&nbsp;&raquo;</span></a>
    {% endif %}
  </div>
</div>
